.noAccess {
  display: flex;
  height: 80vh;
}

.noAccessImg {
  background: url("../../assets/ginger-cat-page-not-found.png");
  width: 50%;
  height: 100%;
  background-size: contain;
}

.noAccess div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.container {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr;
  margin: 20px 0px;
}

.noItems {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;  
  height: 100%;
}

.items {
  background-color: #fff;
  height: 100%;
  border-radius: 13px;
  box-shadow: 2px 2px 3px 2px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.info {
  background-color: #fff;
  height: 100%;
  border-radius: 13px;
  box-shadow: 2px 2px 3px 2px #ccc;
  padding: 1rem;
}

.info div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.info span {
    background-color: #fff;
    border: none;
    border-radius: 13px;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 2px 2px 3px 2px #ccc;
    transition: .2s ease-in-out;
}

.info span:hover {
    color: #fff;
    background-color: #000;
}

@media (max-width: 768px) {
  .container {
    display: block;
  }
}