.container {
    background: url("../../assets/ginger-cat-car-rental.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    width: 400px;
    position: absolute;
    top: 0%; left: 0%; right: 0%; bottom: 0%;
    margin: auto;
    transition: 2s;
    animation: anim 1s infinite;
}

@keyframes anim {
    0% { transform: translateX(-20%); }
    100% { transform: translateX(30%); }
}