.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 3rem;
}

.img {
  background: url("../../assets/ginger-cat-sign-up-form.png");
  height: 70vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 23px;
  box-shadow: 2px 2px 3px 2px #ccc;
}

.form div {
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 1rem;
  border: none;
  width: 200px;
  margin: 20px auto;
  border-radius: 13px;
  box-shadow: 2px 2px 3px 2px #ccc;  
  background-color: #fff;
}

.form input:focus {
  outline: 0;
}

input[type="submit"] {
  font-weight: bold;
  font-size: 1.2rem;
}

.error {
  color: rgb(214, 54, 54);
 }

@media (max-width: 768px) {
  .container {
    display: block;
    width: 100%;
    padding: 0;
    margin: 30px auto;
  }

  .form {
    width: 100%;
    margin-left: 0px;
  }
  
  .img {
    display: none;
  }
}